.listContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjust to the width of the container */
    max-width: 500px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}
